.navbar {
  background-color: #3f78f4;
  color: white;
   width: 150px;
  padding: 1rem;
   @media (max-width: 908px) {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
}

.nav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:3rem;
   @media (max-width: 908px) {
    display:flex ;

  }
}

.nav-logo {
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap:0.3rem;
   @media (max-width:952px){
    display: none;
  }
}

.nav-toggle {
  display: flex;
  flex-direction: column;
  color: white;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  @media (min-width: 909px) {
    display: none;
  }
}


.nav-menu {
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  width: 150px;
  align-items: center;

  @media (min-width: 909px) {
    display: flex; 
  }
}

.nav-menu.open {
  display: flex; 
}


.nav-link {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;

  &:hover {
    color: rgb(13, 2, 65);
    transform: scale(1.5)
  }

  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: 1rem;
    display: inline-block;
  }
}
.logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: azure;
}

@media (min-width: 952px) {
  .nav-menu {
    display: flex;
  }

  .nav-toggle {
    display: none;
  }
}
.plane{
  height: 160px;
  margin-top:470px;
  margin-left: -25px;
  @media (max-width: 952px) {
    display: none;
  }
}